.c_button {
  color: #000;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  padding: 1em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

.c_button__gooey {
  color: #48beff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #48beff;
  border-radius: 5px;
  position: relative;
  transition: all 700ms ease;
}

.c_button__gooey .c_button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c_button__gooey .c_button__blobs div {
  background-color: #48beff;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 450ms ease;
}

.c_button__gooey .c_button__blobs div:nth-child(1) {
  left: -5%;
}

.c_button__gooey .c_button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c_button__gooey .c_button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c_button__gooey:hover {
  color: #fff;
}

.c_button__gooey:hover .c_button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}
