.container {
  border: 2px solid #48beff;
  background-color: #eee;
  border-radius: 25px;
  padding: 0 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}

.container:hover {
  transition: all 200ms linear;
  transform: scale(1.1, 1.1);
}

.container:not(:hover) {
  transition: all 200ms linear;
  transform: scale(1, 1);
}

@media (max-width: 1106px) {
  .container {
    margin-top: 25px;
  }
}
