.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.border_picture_background {
  width: 85%;
  height: 45%;
  max-width: 365px;
  min-height: 365px;
  box-shadow: 1px 1px 4px black;
  display: block;
  position: relative;
  border-radius: 7px;
}

.border_picture_background:hover,
.border_picture_background:focus {
  outline: 0;
}

.border_picture_background:hover:after,
.border_picture_background:focus:after {
  top: 15px;
  left: 15px;
}

.border_picture_background:hover,
.border_picture_background:focus .picture {
  filter: none;
  mix-blend-mode: normal;
}

.border_picture_background .picture {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.border_picture_background:before,
.border_picture_background:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.border_picture_background:before {
  top: 0;
  left: 0;
  mix-blend-mode: screen;
}

.border_picture_background:after {
  border: 3px solid;
  @apply border-primary;
  top: 20px;
  left: 20px;
  z-index: -1;
}

@media (max-width: 1175px) {
  .border_picture_background {
    width: 95% !important;
  }
}

@media (max-width: 1100px) {
  .border_picture_background {
    width: 98.5% !important;
  }
}

@media (max-width: 900px) {
  .container {
    width: 300px !important;
    height: 300px !important;
  }
  .border_picture_background {
    width: 300px !important;
    height: 300px !important;
    max-width: 300px !important;
    min-height: 300px !important;
  }
}

@media (max-width: 390px) {
  .container {
    width: 285px !important;
    height: 285px !important;
  }
  .border_picture_background {
    width: 285px !important;
    height: 285px !important;
    max-width: 285px !important;
    min-height: 285px !important;
  }
}

@media (max-width: 373px) {
  .container {
    width: 273px !important;
    height: 273px !important;
  }
  .border_picture_background {
    width: 273px !important;
    height: 273px !important;
    max-width: 273px !important;
    min-height: 273px !important;
  }
}
