.projects_content {
  @apply flex flex-row flex-wrap items-center justify-around;
  width: 100%;
  height: 100vh;
}

.projects_container {
  @apply flex flex-row flex-wrap items-center justify-around w-full ml-2 mr-2;
}

.separator_buttons {
  width: 70px;
}

@media (max-width: 1199px) {
  .projects_content {
    height: auto;
  }
}

@media (max-width: 639px) {
  .separator_buttons {
    width: 100%;
    height: 30px;
  }
}
